<script type="text/javascript">
	
	function createOrReturnPrivateChat(id){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"user2_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'chat:create_or_return_private_chat' %}", // production
			data: payload,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Successfully got the chat."){
					chatroomId = data['chat_room_id']
					OnGetOrCreateChatroomSuccess(chatroomId)
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
		});
	}


	function OnGetOrCreateChatroomSuccess(chatroomId){
			var url = "{% url 'chat:private_chat_room' %}?room_id=" + chatroomId
			var win = window.location.replace(url)
			// window.open(url) // for new tab
			win.focus();
		}
	
</script>